.table {
    width: 90vw;
    background-color: #fefcf3;
    color: var(--color-text);
    border-radius: 1.4rem;
    overflow: hidden;
    border-spacing: 0;
    thead {
        background-color: #eae0da;

        th {
            font-size: 20px;
        }

        .status {
            display: flex;
            justify-content: center;
            align-items: center;

            input[type="checkbox"] {
                height: 1.5rem;
                width: 1.5rem;
                display: inline-flex;
                margin-left: 7px;
                accent-color: #fefcf3;

                &:checked {
                    color: #000;
                }
            }
        }
    }

  
}
