.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(51, 192, 56);
    color: white;
    padding: 1rem 2rem;
    cursor: pointer;
}
