a {
    display: contents;
    text-decoration: none;
    color: inherit;
}

tr {
    // display: contents;
    // text-decoration: none;
    // color: inherit;
    &:last-child {
        td,
        th {
            border: none;
        }
    }
}

td,
th {
    text-align: center;
    padding: 20px 40px;
    border-bottom: 1px solid #333;
}
