:root {
    --color-black: #333;
    --color-main-blue: #a0c3d2;
    --color-text: #111145;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
}

input {
    outline: none;
}

button {
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
}
